* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
}

.container {
  max-width: 130rem;
  padding: 0 5rem;
  margin: 0 auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  position: relative;
}

.logo {
  height: 2.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
  color: #333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #155b0a;
  box-shadow: 0 0 0 0.8rem rgba(21, 91, 10, 0.5);
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 4.2rem;
}

.icon {
  height: 2.4rem;
}

/* MOBILE NAVIGATION */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/* HERO */
.section-hero {
  background-image: url('img/img_hero.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4.8rem 0 9.6rem 0;
  margin-bottom: 4rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 30rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary {
  font-weight: 700;
  color: #000;
  font-size: 5rem;
  line-height: 1.05;
  margin-bottom: 4rem;
}

.hero-description {
  font-size: 1.6rem;
  padding-right: 13rem;
  margin-bottom: 3rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.6rem 6.6rem;
  background-color: #333434;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

/* CARDS */

.section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  row-gap: 2rem;
  margin-bottom: 8.6rem;
}

.cards-img {
  width: 100%;
  align-self: stretch;
}

.ficus-text {
  grid-row: 2 / 3;
}

.suculentas-text {
  grid-row: 2 / 3;
}

.palmera {
  grid-column: 3 / -1;
}

.heading-cards {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}

.cards-description {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.heading-secondary {
  margin-bottom: 5.4rem;
  font-size: 3rem;
  font-weight: 700;
}

/* OFFER */

.section-offer {
  display: flex;
  flex-direction: column;
  margin-bottom: 9.4rem;
}

.offer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin-bottom: 5.4rem;
}

.offer-img {
  width: 100%;
  margin-bottom: 1.4rem;
  align-self: stretch;
}

.heading-offer {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.offer-description {
  margin-bottom: 1.4rem;
  font-size: 2rem;
  font-weight: 400;
}

.offer-price {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
}

.crossout {
  text-decoration: line-through;
  color: #6f7f8a;
  font-weight: 400;
}

.offer-price-new {
  color: #ff5a5a;
}

.price {
  display: flex;
  justify-content: space-between;
}

.red-elastica,
.red-lyrata,
.red-kokedama,
.red-crasas {
  position: relative;
}

.offer-discount {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 0px;

  font-size: 1.7rem;
  font-weight: 500;

  color: #fff;
  background-color: #ff5a5a;
  padding: 0.4rem 1rem;
}

.offer-btn {
  align-self: center;
}

/* FOOTER */

.footer {
  color: #fff;
  background-color: #333434;
}

.footer-container {
  padding: 3.7rem 5rem;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.2rem;
}

.secon-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.secon-nav-link:link,
.secon-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  transition: all 0.3s;
  color: #ffffff;
}

.secon-nav-link:hover,
.secon-nav-link:active {
  box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.5);
}

.footer-icon {
  height: 4.8rem;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 4.2rem;
}

.copyright {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1.4rem;
}

.copyright span {
  text-transform: uppercase;
}

.email,
.suscribe {
  color: #afb1b9;
  padding: 1.6rem 2.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  border: 0.1rem solid #f5f5f5;
}

form *:focus {
  outline: none;
}

.email {
  background-color: #333434;
}

.suscribe {
  text-transform: uppercase;
}

.margin-right {
  margin-right: 1.2rem;
}

.footer-part {
  display: flex;
  justify-content: space-between;
}

/* BELOW 1056px */

@media (max-width: 66em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/* BELOW 832px */

@media (max-width: 52em) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgb(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* 1) Hide navigation visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.8rem;
  }
}

/* BELOW 768px  */

@media (max-width: 48em) {
  .section-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .palmera {
    grid-column: 1 / 3;
  }

  .offer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-nav {
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 4rem;
  }

  .footer-part {
    flex-direction: column;
    align-items: center;
    gap: 12rem;
  }

  form {
    order: -1;
  }

  .footer-text {
    text-align: center;
  }
}

/* BELOW 656px */
@media (max-width: 41em) {
  .icon {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .section-hero {
    background-size: auto;
  }
}

/* BELOW 544px (Phones) */
@media (max-width: 34em) {
  .secon-nav-list {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-part {
    gap: 6rem;
  }

  .email,
  .suscribe {
    display: block;
    text-align: center;
  }

  .email {
    margin-bottom: 2rem;
  }
}
